@model eLab.Models.Dijagnoza

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Dijagnoza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatinskiNaziv" class="control-label"></label>
                <input asp-for="LatinskiNaziv" class="form-control" />
                <span asp-validation-for="LatinskiNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LokalniNaziv" class="control-label"></label>
                <input asp-for="LokalniNaziv" class="form-control" />
                <span asp-validation-for="LokalniNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SifraMKB10" class="control-label"></label>
                <input asp-for="SifraMKB10" class="form-control" />
                <span asp-validation-for="SifraMKB10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
