@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli u eLab</h1>
    <p>Informacijski sistem za vođenje laboratorija</p>
    <br />
    <img src="https://www.pngitem.com/pimgs/m/656-6568510_icon-vector-doctor-png-transparent-png.png" style="height: 320px; width: auto;" />
</div>
