@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Šifranici</title>
        <style>
        </style>
    </head>
    <body>
        <ul style="list-style: none; float: left;">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Analiza" asp-action="Index">Analize</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dijagnoza" asp-action="Index">Dijagnoze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Grad" asp-action="Index">Gradovi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Karton" asp-action="Index">Kartoni</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="Index">Korisnici</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="KrvnaGrupa" asp-action="Index">Krvne Grupe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Materijali" asp-action="Index">Materijali</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Pacijent" asp-action="Index">Pacijenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Parametri" asp-action="Index">Parametri</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ReferentneVrijednosti" asp-action="Index">Referentne Vrijednosti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipKorisnika" asp-action="Index">Tipovi Korisnika</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TipUzorka" asp-action="Index">Tipovi Uzorka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Ustanova" asp-action="Index">Ustanove</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Uzorkovanje" asp-action="Index">Uzorkovanja</a>
            </li>
        </ul>
        <img src="https://i.pinimg.com/736x/26/42/42/2642427450733970b628aabc5691fb98.jpg" style="float: right;"/>
    </body>
</html>
