<div class="containter" style="margin-top: 100px;">
    <div class="row justify-content-center">
<button routerLink="showMaterials" class="btn btn-primary"style="margin-right: 10px;">Prikazi materijale</button>

<button routerLink="addnewMaterial" class="btn btn-danger">Dodaj materijal</button>
      </div>
      <div class="row justify-content-center mt-5">
      <button routerLink="showGrad" class="btn btn-secondary"style="margin-right: 10px;">🔍︎ Gradovi</button>

      <button routerLink="addnewGrad" class="btn btn-secondary">＋ Novi Grad</button>
    </div>
  <div class="mx-auto">
  <img style="height: 180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 400px;
    right: 0;
    bottom: 0;
    position: fixed;" src="https://www.walgreens.com/images/adaptive/lp/COVID_testing_illustration.hero_large.png"/>
  </div>
</div>
